/* Web styling */

/* INDEX*/
/* ELEMENTS FOR HTML PAGE */

*{
    font-family:raleway;
    margin:0;
    padding:0;
}
/*NAVBAR*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 30px;
}

/* logo */
img.nav-logo {
    height:40px;
}

/* Nav-items */
.nav-items a {
    color:gray;
    padding:5px 10px 5px 10px;
}


/*BODY*/
body {
    height:100%;
}

.main-body{
    background-image:url(Images/Banner-image.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
}

/* ALL */
/* Banner image */
.banner-img {
    width:auto;
    height:auto;
}

/*FOOTER*/
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    position: fixed;
}
  
.social-link {
    color: white;
    margin: 0 10px;
}

.about-us-heading{
    text-align: center;
    padding-top:20px;
}

#about-us{
    text-align:center;
}

.qoute{
    color:white;
}
/* End of code */