/* Web styling */
*{
    margin:0;
    padding:0;
    height: 100%;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
  .content {
    flex: 1 0 auto;
}
  .footer {
    flex-shrink: 0;
    position: fixed;
}
#footer-page{
    margin-bottom:20px;
    position: sticky;
}
.card-img-top{
    width:auto;
    height:225px;
}
img.img-logo{
    height:40px;
}

/* End of code */